body {
  background-color: #404040;
}
.main {
  width: 50%;
  text-align: justify;
  margin: auto;
  margin-top: 3em;
  font-family: Helvetica;
  font-size: 1.3em;
  color: #fff;
}
.main a {
  color: #800080;
  text-decoration: none;
  font-family: consolas;
}
