body 
    background-color #404040

.main 
    width 50%
    text-align justify
    margin auto
    margin-top 3em
    font-family Helvetica
    font-size 1.3em
    //color #a9a9a9
    color white

.main a
    color purple
    text-decoration none
    font-family consolas